<!--Códgo C# inicial-->
@{
    Layout = null;


}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/CSS/style.css">
    <title>Dados do Professor</title>
</head>
<body>
    <div>
        <!--Sempre que precisar inserir códigos C# no meio do HTML é só inserir um "ARROBA"-->
        <h1>
            Bem vindo a nossa escola <br />
            
        </h1>
        <p>CPF: .</p>
        <p>Formação cadastrada: </p>
        <br>
        <p><a href="~/Site/index.cshtml">Voltar para a página inicial</a>
    </div>
    <br />

    <div>
        <!--Sempre que precisar inserir códigos C# no meio do HTML é só inserir um "ARROBA"-->
        <h1> Estes são os professores já cadastrados:</h1>

        <br />
        
        {
            <p>Nome:</p>
            <p>CPF:</p>
            <p>Formação cadastrada: </p>
            <br>
        }
    </div>
</body>
</html>